    <div class="container logo">
     <%= image_tag("logo copy.png", size: "auto") %><br><br> 
          <span class="fa fa-phone"></span><span class="phone"> 1-800-PEERPOINT</span><hr>
    
    </div>