
<div class="about container"> 
    <h1>About Us</h1>
</div><!--container-->

<div class="container aboutus">
    <h2 class="peerway">The PeerPoint Way</h2>
    <p>There's a way we do business that starts with the owner and carries down through every employee at our firm. The principles of Integrity, Knowledge and Reputation guide us in our daily work.</p>
    <p>We realize the proper financing is critical to the health of any small business.  In order to grow, businesses need access to capital to purchase inventory, maintain cash flow, hire new employees, purchase equipment and invest back in the company.  Yet, a landmark study by Harvard Business School shows that bank loan availability to small businesses plummeted during the recession and has stayed at these low levels since.</p>
</div><!--end container-->

<div class="process container">
    <h3 class="peerapp">A New Approah to Business Loans from PeerPoint</h3>
  	<div class="row">
  	<div class="col-md-6">
        <p class="peertext">PeerPoint Capital uses technology to make the small business borrowing process fast and easy.  We deliver loan decisions in minutes and funding as fast as two business days. By focusing on the health of the business rather than your personal credit score, PeerPoint has higher approval rates than most banks.</p>
  	</div>
  	<div class="col-md-6">
  	
  	<ul>
  	<li><span class="fa fa-check-square-o">&nbsp;&nbsp;Most deals approved & funded with 72 hours</span></li>
  	<li><span class="fa fa-check-square-o">&nbsp;&nbsp;Most businesses qualify</span></li>
  	<li><span class="fa fa-check-square-o">&nbsp;&nbsp;No application fees or appraisals needed</span></li>
  	<li><span class="fa fa-check-square-o">&nbsp;&nbsp;Payoff tax liens or buyout a partner</span></li>
  	<li><span class="fa fa-check-square-o">&nbsp;&nbsp;Bad credit is OK</span></li>
  	</ul>
  	</div>
  	    <%= link_to '<button type="button" class="btn btn-lg btn-success">See Our Simple Process in Action</button>'.html_safe, new_application_path %>
  	 	<h2></h2>
  	</div><!--end row--> 
  	
</div><!--end container-->
 <%= render 'layouts/footer' %>

